a {
	display: inline;
	margin-top: -90px;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #F15B31!important;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 6px;
}

h1 {
text-transform: uppercase;
font-family: "Raleway", sans-serif;
font-weight: 100;
font-size: 50px;
display: inline;
filter: invert(100%);
color: #0D2C40!important;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 550;
	filter: invert(100%);
	color: #0D2C40!important;
}

p {
font-family: "Droid Serif", serif;
letter-spacing: 1px;
line-height: 26px;
font-weight: 350;
font-size: 18px;
margin-top: -15px;
padding-bottom: 10px;
filter: invert(100%);
}

body {
text-align: center;
background-color: black;
}

img {
	filter: invert(100%);
}

