a {
	display: inline-block;
	margin-top: -90px;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #FF8B68;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 4px;
}

h1 {
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	font-weight: 100;
	font-size: 50px;
	display: inline;
	color: #ff6890!important;
	letter-spacing: 1.5px;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: #ff6890;
}

h2.game {
	margin-top: -10px;
}

p {
	font-family: "Droid Serif", serif;
	letter-spacing: .5px;
	line-height: 26px;
	font-weight: 400;
	font-size: 16px;
	margin-top: -15px;
	padding-bottom: 10px; 
	color: white;
	color: white;
}

body {
	text-align: center;
	background-color: black;
	
}

img {
	filter: invert(100);
}

div.cards {
	padding-bottom: 50px;
	margin-top: -10px;
}

/*header, nav{
	background-color: #68FFD7;
}*/

footer {
	margin-top: 30px;
	font-family: "Droid Serif", serif;
	position: fixed;
	bottom: 0;
	width: 100%;
	letter-spacing: 3px;
	color: #FF8B68;
	overflow: hidden;
	background-color: black;
	padding: 2px;
}