span.p {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #FF8B68;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 16px;
	display: inline;
}

input {
	color: white;
	font-family: "Raleway", sans-serif;
	margin-bottom: 20px;
	margin-top: -25px;
	background: transparent;
	border-color: #FF8B68;
	padding: $button-padding/1.5 $button-padding*2.5 $button-padding/1.5 $button-padding*2.5;
	font-size: 1.2em;
	text-transform: uppercase;
}

nav {
	margin-top: 2px;
}

input:hover {
	background: #ff6890;
	color: white;
	border-color: transparent;
}

a {
	display: inline;
	margin-top: -90px;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #FF8B68;
	letter-spacing: 3px;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 10px;
	padding: 2px;
}

a:hover {
	background-color: white;
	color: black;
	padding: 2px;
}

h1 {
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	font-weight: 100;
	font-size: 50px;
	display: inline;
	color: #ff6890!important;
	letter-spacing: 1.5px;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: #ff6890;
	font-size: 25px;
}

h2.game {
	margin-top: -10px;
}

h2.inst {
	margin-top: 30px;
}

h2.third {
	margin-top: -2px;
}

div.text {
	color: white;
	font-family: "Droid Serif", serif;
	letter-spacing: .5px;
	line-height: 26px;
	font-weight: 400;
	font-size: 15px;
	margin-top: -15px;
	padding-bottom: 10px; 
}

body {
	text-align: center;
	background-color: black;
	
}

img {
	filter: invert(100);
	padding: 4px;
	margin-bottom: -30px;
}

div.cards {
	padding-bottom: 50px;
	margin-top: -10px;
}

/*header, nav{
	background-color: #68FFD7;
}*/

footer{
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	font-family: "Raleway", sans-serif;
	background-color: #ff6890;
	color: white;
	letter-spacing: .08em;
	font-weight: 500;
}

p.copyright {
	float: left;
}

p.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
